@import "tailwindcss";



html {
  scroll-behavior: smooth;
} 

.font-playfair {
    font-family: 'Playfair Display', serif;
  }


h1, h2 {
  font-family: 'Playfair Display', serif;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}